
<div>
  <div class="form-group">
    <select  (change)="getData();" [(ngModel)]="SubjectId">
  <option value="">Select Subject</option>
  <option *ngFor="let item of subjects" value="{{item.payload.doc.id}}">{{item.payload.doc.data().SubjectName[lang]}}</option>
</select>
  </div>
</div>
 <div *ngFor="let item of items;let i = index" class="list-group-item list-group-item-action flex-column align-items-start">
 

<button mat-raised-button class="delete-button" color="warn" type="button"  class="btn btn-success" (click)="viewData(item.payload.doc.id)">View</button>
<br>
 {{item.payload.doc.data().PackageName[lang]}}
 <br/>



 </div>